<h1>Create a new booking</h1>
<p>Check your dashboard to see all your bookings</p>

<%= simple_form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [@booking] do |f| %>
    <%= f.input :date %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
