<!-- THE PROFILE FOR THE USER -->
<!-- navbar -->
<!-- banner -->
<!-- container divided vertically by 3 sections sections -->

 <div class="text-center"><div class="text-center">
  <h1 class="heading"> Your booking is confirmed for:<p class="paragraph-dashboard"><%= @user.bookings.last.kitchen.name %>'s Kitchen in <%= @user.bookings.last.kitchen.location %></p></h1>
</div>

  <div class="container">
    <div class="row">
      <h3 class="uppercase">Your bookings</h3>
      <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-md-4">
          <div class="card card-index">
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= booking.kitchen.kitchen_pic  %>)' ">
                <div class="card-description">
                  <p><%= booking.kitchen.name %></p>
                  <p class="location"><%= booking.kitchen.location %></p>
                </div>
                <img src="<%= booking.kitchen.user.avatar %>" alt="" class="avatar-small">
                <p class="card-category"><%= booking.kitchen.category %></p>
              </div>
            <div class="card-footer">
              <p>Posted on <%= booking.kitchen.created_at.to_date %></p>
              <ul class="list-inline">
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-share"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row">
      <h3 class="uppercase">Your Kitchens</h3>
      <% @user.kitchens.each do |kitchen| %>
        <div class="col-xs-12 col-md-4">
          <div class="card card-index">
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= kitchen.kitchen_pic  %>)' ">
                <div class="card-description">
                  <p><%= kitchen.name %></p>
                  <p class="location"><%= kitchen.location %></p>
                </div>
                <img src="<%= kitchen.user.avatar %>" alt="" class="avatar-small">
                <p class="card-category"><%= kitchen.category %></p>
              </div>
            <div class="card-footer">
              <p>Posted on <%= kitchen.created_at.to_date %></p>
              <ul class="list-inline">
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-share"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <div class="row">
    <h3 class="uppercase">Your profile</h3>
  </div>


  </div>




