<<<<<<< HEAD
<%= simple_form_for "", url: kitchens_path, method: :get do |f| %>
  <%= f.input :location, as: :select, collection: Kitchen.all.map(&:location).uniq  %>
  <%= f.submit "search", class: "btn btn-primary" %>
<% end %>
=======
<div class="col-xs-12 col-sm-4 col-sm-offset-4">
  <%= simple_form_for "", url: kitchens_path, method: :get do |f| %>
  <%= f.input :category %>
  <%= f.input :location %>
  <%= f.submit "search", class: "btn btn-primary" %>
  <% end %>
</div>
>>>>>>> 99f0a2c1bccb0dc8d46086f602c30a4b3880fd31
