<h1>Add a new kitchen</h1>

  <%= simple_form_for [@kitchen] do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :location %>
    <%= f.submit "add kitchen", class: "btn btn-primary" %>
  <% end %>
