<h1>Add a new kitchen</h1>

  <%= simple_form_for [@kitchen] do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :capacity %>
    <%= f.input :description %>

    <%= f.submit "Add kitchen", class: "btn-small", redirect_to kitchen_path %>

  <% end %>


