
  <div class="container">

    <div class="avatar-title">
      <div class="avatar"><img src="<%= @kitchen.user.avatar %>" alt="" class="avatar-large"></div>

      <div>
        <h1 class="heading-show"><%= @kitchen.name %></h1>
      </div>
    </div>

    <div class="row justify-content-between", style="margin-left: 275px;">
      <div class="wrapper col-sm-4 ">


          <div class="description">
            <div class="box">
              <div class="row">
                <p class="lines">Location: <%= @kitchen.location %></p>
              </div>
              <div class="row">
                <p class="lines">Capacity: <%= @kitchen.capacity %></p>
              </div>
              <div class="row">
                <p class="lines">Category: <%= @kitchen.category %></p>
              </div>
              <div class="row">
                <p class="lines">Description: <%= @kitchen.description %></p>
              </div>
            </div>
          </div>
        </div>


    <div class="wrapper col-sm-4">

        <div class="book">
          <h3 class="heading-newbooking">Book with <%= @kitchen.name %>:</h3>
          <%= simple_form_for [@kitchen, @booking] do |f| %>
          <%= f.input :date %>
          <%= f.submit "Book", class: "btn-small" %>
          <% end %>
          <div class="text">
            <%= link_to "My dashboard", user_path %>
          </div>
        </div>
    </div>


    </div>
  </div>




