<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%=@kitchen.name %></h1>
      </div>
    </div>
    <div class="row">
      <p>Location: <%= @kitchen.location %></p>
    </div>
    <div class="row">
      <p>Capacity: <%= @kitchen.capacity %></p>
    </div>
    <div class="row">
      <p>Category: <%= @kitchen.category %></p>
    </div>
    <div class="row">
      <p>Description: <%= @kitchen.description %></p>
    </div>
  </div>
  <%= link_to "Book", new_kitchen_booking_path(@kitchen), class: "btn btn-primary btn-lg" %>
</body>
</html>


