<!DOCTYPE html>
<html>
<head>
  <title><h1><%=@kitchen.name %></h1></title>
</head>
<body>
  <div class="container" style="background-color:
   rgba(255, 255, 255, 0.2) 50%)>
  <div class="container col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="row">
      <div class="col-xs-12">
        <h1><%=@kitchen.name %></h1>
      </div>
    </div>
    <div class="box">
    <div class="row">
      <p>Location: <%= @kitchen.location %></p>
    </div>
    <div class="row">
      <p>Capacity: <%= @kitchen.capacity %></p>
    </div>
    <div class="row">
      <p>Category: <%= @kitchen.category %></p>
    </div>
    <div class="row">
      <p>Description: <%= @kitchen.description %></p>
    </div>
    </div>
      <div class="row-book">
      <%= link_to "Book", new_kitchen_booking_path(@kitchen), class: "btn btn-primary btn-lg" %>
       </div>
  </div>
  </div>
</body>
</html>


